#show-contact {
    display: none;
  }
  
  .contact {
    cursor: pointer;
    color: #0088cc;
  }
  
  .contact:hover {
    text-decoration: underline;
  } 
  .container{
    margin-top: 5%;
    border: 1px solid brown;
    background: slategrey;
  } 
  body{
    background: linear-gradient(black, white, red,white,green);
  }